In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('heart.csv')

In [3]:
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
df.describe(include='all')

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [6]:
df.isnull().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

In [7]:
cols = list(df.columns)

In [8]:
cols

['age',
 'sex',
 'cp',
 'trtbps',
 'chol',
 'fbs',
 'restecg',
 'thalachh',
 'exng',
 'oldpeak',
 'slp',
 'caa',
 'thall',
 'output']

In [9]:
row_duplicate = list(df.duplicated())
for value in range(0,len(row_duplicate)-1):
    if row_duplicate[value]:
        print(value)

164

In [10]:
df.iloc[160:168]

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
160,56,1,1,120,240,0,1,169,0,0.0,0,0,2,1
161,55,0,1,132,342,0,1,166,0,1.2,2,0,2,1
162,41,1,1,120,157,0,1,182,0,0.0,2,0,2,1
163,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1
165,67,1,0,160,286,0,0,108,1,1.5,1,3,2,0
166,67,1,0,120,229,0,0,129,1,2.6,1,2,3,0
167,62,0,0,140,268,0,0,160,0,3.6,0,2,2,0

In [11]:
df = df.drop(df.index[[164]])

In [12]:
df.iloc[160:168]

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
160,56,1,1,120,240,0,1,169,0,0.0,0,0,2,1
161,55,0,1,132,342,0,1,166,0,1.2,2,0,2,1
162,41,1,1,120,157,0,1,182,0,0.0,2,0,2,1
163,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1
165,67,1,0,160,286,0,0,108,1,1.5,1,3,2,0
166,67,1,0,120,229,0,0,129,1,2.6,1,2,3,0
167,62,0,0,140,268,0,0,160,0,3.6,0,2,2,0
168,63,1,0,130,254,0,0,147,0,1.4,1,1,3,0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 302 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       302 non-null    int64
 1   sex       302 non-null    int64
 2   cp        302 non-null    int64
 3   trtbps    302 non-null    int64
 4   chol      302 non-null    int64
 5   fbs       302 non-null    int64
 6   restecg   302 non-null    int64
 7   thalachh  302 non-null    int64
 8   exng      302 non-null    int64
 9   oldpeak   302 non-null    float64
 10  slp       302 non-null    int64
 11  caa       302 non-null    int64
 12  thall     302 non-null    int64
 13  output    302 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 35.4 KB

In [14]:
df['sex'].value_counts()

1    206
0     96
Name: sex, dtype: int64

In [15]:
206/302*100

68.21192052980133

In [16]:
df['fbs'].value_counts()

0    257
1     45
Name: fbs, dtype: int64

In [17]:
45/302*100

14.90066225165563

In [19]:
temp = df[df['chol']>=240]
len(temp)

155

In [20]:
155/302*100

51.324503311258276

In [22]:
len(temp[temp['sex']==0]),len(temp[temp['sex']==1])

(58, 97)

In [24]:
58/155*100 , 97/155*100

(37.41935483870968, 62.58064516129033)

In [23]:
df['exng'].value_counts()

0    203
1     99
Name: exng, dtype: int64

In [25]:
round(203/302*100), round(99/302*100)

(67, 33)

In [27]:
temp1 = df[df['exng']==0]
len(temp1[temp1['output']==1]),len(temp1[temp1['output']==0])

(141, 62)

In [29]:
141/203*100

69.45812807881774

In [30]:
df['caa'].value_counts()

0    175
1     65
2     38
3     20
4      4
Name: caa, dtype: int64

In [31]:
df['cp'].value_counts()

0    143
2     86
1     50
3     23
Name: cp, dtype: int64

In [32]:
df['output'].value_counts()

1    164
0    138
Name: output, dtype: int64

In [33]:
df.var()

age           81.865757
sex            0.217553
cp             1.065114
trtbps       308.472817
chol        2678.423588
fbs            0.127225
restecg        0.276705
thalachh     524.571561
exng           0.221084
oldpeak        1.348971
slp            0.379794
caa            1.013542
thall          0.375800
output         0.248971
dtype: float64

In [34]:
df.std()

age          9.047970
sex          0.466426
cp           1.032044
trtbps      17.563394
chol        51.753489
fbs          0.356686
restecg      0.526027
thalachh    22.903527
exng         0.470196
oldpeak      1.161452
slp          0.616274
caa          1.006748
thall        0.613026
output       0.498970
dtype: float64